body {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.catalog-header {
  font-size: 35px;
  line-height: 41px;
}

.banners-header {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banners-item p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banners-item a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.about-us {
  color: #323232;
}

.about-us .lead {
  font-size: 24px;
  line-height: 30px;
}
