html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(255, 255, 255);

  background-color: rgb(132, 157, 143);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.site-navigation ul {
  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  line-height: 18px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgb(51, 51, 51);

  background-color: rgb(247, 246, 243);
}

.site-navigation a:active {
  background-color: rgb(237, 237, 237);
}

.site-navigation .active {
  color: rgb(255, 255, 255);

  background-color: rgb(208, 112, 88);
}

.site-navigation-submenu {
  background-color: rgb(255, 255, 255);
}

.site-navigation-submenu .latest {
  font-weight: 700;
}

.site-navigation-submenu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(50, 50, 50);
}

.site-navigation-submenu a:hover,
.site-navigation-submenu a:focus {
  background-color: rgb(251, 222, 215);
}

.site-navigation-submenu a:active {
  background-color: rgb(246, 181, 165);
}

.site-navigation-submenu .active {
  background-color: rgb(208, 112, 88);
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.user-navigation .header-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(254, 254, 254);

  background-color: rgb(232, 77, 55);
}

.user-navigation .header-btn:hover,
.user-navigation .header-btn:focus {
  color: rgb(254, 254, 254);

  background-color: rgb(245, 134, 105);
}

.user-navigation .header-btn:active {
  color: rgb(254, 254, 254);

  background-color: rgb(215, 69, 49);
}

.page-form,
.shop-cart table {
  font-size: 13px;
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.page-form input,
.page-form textarea {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(153, 153, 153);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.page-form input:hover,
.page-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  border-radius: 4px;
}

.page-form input:focus,
.page-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
}

.shop-login-form a,
.shop-cart-content a {
  font-size: 13px;
  line-height: 24px;
  color: rgb(50, 50, 50);
}

.shop-login-form a:hover,
.shop-login-form a:focus,
.shop-login-form a:active,
.shop-cart-content a:hover,
.shop-cart-content a:focus,
.shop-cart-content a:active {
  color: rgb(232, 77, 55);
}

.shop-login-form a {
  text-decoration: underline;
}

.shop-cart-content .price {
  color: rgb(153, 153, 153);
}

.shop-cart-content .total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
}

.cart-filled a {
  color: rgb(50, 50, 50);

  background-color: rgba(248, 247, 244, 0.99);
}

.shop-info {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.shop-info a {
  font-size: 22px;
  line-height: 24px;
}

.promo-header {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slider-switcher {
  list-style: none;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(255, 255, 255);

  background-color: rgb(242, 104, 67);
}

.btn:hover,
.btn:focus {
  color: rgb(254, 254, 254);

  background-color: rgb(245, 134, 105);
}

.btn:active {
  color: rgb(252, 238, 236);

  background-color: rgb(215, 69, 49);
}

.btn-promo {
  font-size: 32px;
  line-height: 44px;
}

.banners-header,
.catalog-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banners-item p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.catalog-filter-item {
  color: rgb(255, 255, 255);

  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-filter-item:hover,
.catalog-filter-item:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.catalog-filter-item option {
  font-size: 14px;
  line-height: 16px;
}

button.catalog-filter-item {
  border: 2px solid rgb(255, 255, 255);
}

button.catalog-filter-item:active {
  background-color: rgb(237, 237, 237);
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-item a {
  text-decoration: underline;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: rgb(255, 188, 158);
}

.catalog-item .price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-item .price span:nth-child(2) {
  font-size: 30px;
}

.paginator {
  list-style: none;
}

.paginator .disabled {
  color: rgba(255, 255, 255, 0.2);
}

.paginator .current {
  line-height: 18px;
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.about-us {
  color: rgb(50, 50, 50);

  background-color: rgb(238, 225, 201);
  background-image: url("../img/backgrounds/wafer.jpg");
  background-repeat: repeat;
}

.about-us .lead {
  font-size: 24px;
  line-height: 30px;
}

.blog-news {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/backgrounds/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(50, 50, 50);
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: rgb(232, 77, 55);
}

.subscription {
  color: rgb(90, 90, 90);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/svg/bg-post.svg");
  background-repeat: repeat;
}

.subscription-inner {
  background-color: rgb(248, 247, 244);
}

.subscription input {
  font-size: 14px;
  line-height: 24px;
  color: rgb(153, 153, 153);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
}

.map {
  background-image: url("../img/backgrounds/map.jpg");
  background-position: 0 -150px;
  background-repeat: no-repeat;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  color: rgb(50, 50, 50);
}

.contacts .address {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(50, 50, 50);
}

.footer-navigation {
  list-style: none;
}

.footer-links a,
.footer-copyright a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-links li:first-child a {
  font-weight: 700;
}

.footer-copyright .footer-logo,
.footer-copyright .footer-logo:hover,
.footer-copyright .footer-logo:focus,
.footer-copyright .footer-logo:active {
  border: none;
}

.feedback-form .lead {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(50, 50, 50);
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
