html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(255, 255, 255);

  background-color: rgb(132, 157, 143);
}

a {
  color: rgb(255, 255, 255);
}

.center {
  padding: 0 27px 0 27px;
  width: 1200px;
}

.page-header {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  padding-top: 9px;
}

.page-header-logo {
  margin-right: 24px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgb(51, 51, 51);

  background-color: rgb(247, 246, 243);
}

.site-navigation a:active {
  background-color: rgb(237, 237, 237);
}

.site-navigation .active {
  color: rgb(255, 255, 255);

  background-color: rgb(208, 112, 88);
}

.site-navigation-submenu {
  display: none;

  background-color: rgb(255, 255, 255);
}

.site-navigation-submenu .latest {
  font-weight: 700;
}

.site-navigation-submenu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.site-navigation-submenu a:hover,
.site-navigation-submenu a:focus {
  background-color: rgb(251, 222, 215);
}

.site-navigation-submenu a:active {
  background-color: rgb(246, 181, 165);
}

.site-navigation-submenu .active {
  background-color: rgb(208, 112, 88);
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration:none;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.user-navigation .header-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(254, 254, 254);

  background-color: rgb(232, 77, 55);
}

.user-navigation .header-btn:hover,
.user-navigation .header-btn:focus {
  color: rgb(254, 254, 254);

  background-color: rgb(245, 134, 105);
}

.user-navigation .header-btn:active {
  color: rgb(254, 254, 254);

  background-color: rgb(215, 69, 49);
}

.page-form,
.shop-cart table {
  font-size: 13px;
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.page-form input,
.page-form textarea {
  padding: 9px 15px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(153, 153, 153);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.page-form input:hover,
.page-form textarea:hover {
  outline: 2px solid rgba(154, 154, 154, 0.52);
  border-radius: 4px;
}

.page-form input:focus,
.page-form textarea:focus {
  outline: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
}

.shop-search-btn {
  background-color: rgba(255, 255, 255, 0.2);
}

.shop-search form {
  display: none;
}

.shop-login-form {
  display: none;
}

.shop-cart-content {
  display: none;
}

.shop-login-form a,
.shop-cart-content a {
  font-size: 13px;
  line-height: 24px;
  color: rgb(50, 50, 50);
}

.shop-login-form a {
  text-decoration: underline;
}

.shop-login-form a:hover,
.shop-login-form a:focus,
.shop-login-form a:active,
.shop-cart-content a:hover,
.shop-cart-content a:focus,
.shop-cart-content a:active {
  color: rgb(232, 77, 55);
}

.shop-cart-content .price {
  color: rgb(153, 153, 153);
}

.shop-cart-content .total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
}

.cart-filled a {
  color: rgb(50, 50, 50);
  text-decoration: none;

  background-color: rgba(248, 247, 244, 0.99);
}

.shop-info {
  position: absolute;
  right: 27px;
  top: 90px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.shop-info p {
  margin: 0;
}

.shop-info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.promo-header {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slider-switcher {
  list-style: none;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(255, 255, 255);

  background-color: rgb(242, 104, 67);
}

.btn:hover,
.btn:focus {
  color: rgb(254, 254, 254);

  background-color: rgb(245, 134, 105);
}

.btn:active {
  color: rgb(252, 238, 236);

  background-color: rgb(215, 69, 49);
}

.btn-promo {
  font-size: 32px;
  line-height: 44px;
}

.banners-header,
.catalog-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banners,
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banners-item {
  padding: 16px 19px 34px 19px;
  width: 560px;

  border-radius: 15px;
}

.banners-header {
  margin: 0;
  margin-bottom: 15px;
}

.banners-item p {
  margin: 0;
  margin-bottom: 55px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banners-item a {
  text-decoration: none;
}

.banner-raspberry {
  background-color: rgb(145, 6, 50);
  background-image: url("../img/backgrounds/raspberry.jpg");
}

.banner-chocolate {
  background-color: rgb(52, 26, 15);
  background-image: url("../img/backgrounds/chocolate.jpg");
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter {
  margin-bottom: 40px;
}

.catalog-filter-item {
  color: rgb(255, 255, 255);

  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-filter-item:hover,
.catalog-filter-item:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.catalog-filter-item option {
  font-size: 14px;
  line-height: 16px;
}

button.catalog-filter-item {
  border: 2px solid rgb(255, 255, 255);
}

button.catalog-filter-item:active {
  background-color: rgb(237, 237, 237);
}

.catalog-item {
  flex-basis: 267px;

  text-align: center;
}

.catalog-item:hover,
.catalog-item:focus {
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item a {
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.catalog-item .price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-item .price span:nth-child(2) {
  font-size: 30px;
}

.catalog-item .btn {
  display: none;
}

.catalog-item:hover .btn,
.catalog-item:focus .btn {
  display: inline;
}

.paginator {
  display: flex;

  list-style: none;
}

.paginator .disabled {
  color: rgba(255, 255, 255, 0.2);
}

.paginator .current {
  line-height: 18px;
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.paginator a {
  text-decoration: none;
}

.paginator a:hover,
.paginator a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.about-us {
  margin-bottom: 40px;
  padding: 23px 33px 26px 20px;

  color: rgb(50, 50, 50);

  background-color: rgb(238, 225, 201);
  background-image: url("../img/backgrounds/wafer.jpg");
  border-radius: 15px;
}

.about-us .lead {
  margin: 0;
  margin-bottom: 23px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-half-left {
  width: 477px;
  margin-left: 56px;
}

.about-us-half-right {
  width: 471px;
}

.about-us-item {
  margin: 0;
}

.about-us-item:first-child {
  margin-bottom: 21px;
}

.blog-news,
.subscription {
  width: 560px;

  border-radius: 15px;
}

.blog-news {
  padding: 24px 260px 26px 19px;

  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/backgrounds/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news-header {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news a {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(50, 50, 50);
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: rgb(232, 77, 55);
}

.subscription {
  padding: 5px;

  color: rgb(90, 90, 90);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/svg/bg-post.svg");
}

.subscription-inner {
  padding: 29px 21px 35px 21px;

  background-color: rgb(248, 247, 244);
  border-radius: 15px;
}

.subscription p {
  margin: 0;
  margin-bottom: 36px;
}

.subscription input {
  width: 368px;

  font-size: 14px;
  line-height: 24px;
  color: rgb(153, 153, 153);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
}

.map {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 430px;
  margin-right: -27px;
  margin-left: -27px;
  padding-right: 27px;

  background-image: url("../img/backgrounds/map.jpg");
  background-position: 0 -150px;
  background-repeat: no-repeat;
}

.contacts {
  width: 302px;
  padding: 32px 25px;

  font-size: 14px;
  line-height: 20px;
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.contacts .address {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer-navigation {
  list-style: none;
}

.footer-links a,
.footer-copyright a {
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-links li:first-child a {
  font-weight: 700;
}

.footer-copyright .footer-logo,
.footer-copyright .footer-logo:hover,
.footer-copyright .footer-logo:focus,
.footer-copyright .footer-logo:active {
  border: none;
}

.feedback-form {
  display: none;
}

.feedback-form .lead {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(50, 50, 50);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
