body {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;

  background-color: #849d8f;
}

.banners-item h3,
.banners-item p,
.banners-item a {
  color: #ffffff;
}

.banners-item h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banners-item p,
.banners-item a {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banners-item a {
  line-height: 24px;
}

.catalog-item,
.catalog-item a {
  color: #ffffff;
}

.about-us .lead {
  font-size: 24px;
  line-height: 30px;
}
