html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(255, 255, 255);

  background-color: rgb(132, 157, 143);
}

a {
  color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  width: 1200px;
  margin-bottom: 40px;
  padding: 0 27px 0 27px;
}

.page-wrapper {
  min-width: 1254px;

  background-repeat: no-repeat;
  background-position: top center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  margin-bottom: 0;
  padding-top: 9px;
}

.page-header-logo {
  margin-right: 12px;
}

.site-navigation {
  padding-top: 17px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation-item {
  position: relative;

  display: inline-block;
  margin-left: -5px;
}

.site-navigation-item > a {
  display: block;
  padding: 5px 15px;

  font-weight: 700;
  line-height: 18px;
  border-radius: 15px;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: rgb(51, 51, 51);
  text-decoration: none;

  background-color: rgb(247, 246, 243);
}

.site-navigation-item > a:active {
  text-decoration: none;

  background-color: rgb(237, 237, 237);
  background-color: rgba(248, 247, 244, 0.99);
  box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.site-navigation-item:hover .site-navigation-submenu,
.site-navigation-item:focus .site-navigation-submenu {
  display: block;
}

.site-navigation .active-page {
  color: rgb(255, 255, 255);
  text-decoration: none;

  background-color: rgb(208, 112, 88);
}

.site-navigation-submenu {
  position: absolute;
  top: 34px;
  left: -4px;
  z-index: 10; /* хак. главный контейнер перекрывает меню */

  min-width: 144px;

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.site-navigation-submenu::before {
  position: absolute;
  top: -6px;

  min-width: 143px;
  height: 6px;

  content: "";
}

.site-navigation-submenu a {
  display: block;
  margin-left: 6px;
  margin-right: 8px;
  padding: 9px 14px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.site-navigation-submenu li:hover,
.site-navigation-submenu li:focus {
  background-color: rgb(251, 222, 215);
}

.site-navigation-submenu li:active {
  background-color: rgb(246, 181, 165);
}

.site-navigation-submenu li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-navigation-submenu li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.site-navigation-submenu .latest {
  padding-top: 10px;
  padding-bottom: 12px;

  font-weight: 700;
}

.site-navigation-submenu .active {
  background-color: rgb(208, 112, 88);
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 14px;

  list-style: none;
}

.user-navigation-item {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.user-navigation-item:last-of-type {
  margin-right: 0;
}

.shop-search-btn {
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.shop-search-btn svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.shop-search-btn:hover .loupe-svg,
.shop-search-btn:focus .loupe-svg {
  fill: rgb(0, 0, 0);
}

.shop-search-btn:hover .shop-search-form {
  display: block;
}

.shop-search-form {
  width: 340px;
}

.user-navigation-item > a {
  display: block;
  padding: 0 16px;

  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.user-navigation-item svg {
  margin-right: 3px;

  vertical-align: middle;
}

.shop-search-btn:hover,
.user-navigation-item:hover > a,
.user-navigation-item:focus > a {
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
}

.user-navigation-item:hover .entrance-svg,
.user-navigation-item:focus .entrance-svg,
.user-navigation-item:hover .basket-svg,
.user-navigation-item:focus .basket-svg {
  fill: rgb(0, 0, 0);
}

.shop-cart-btn {
  min-width: 117px;
}

.btn {
  display: inline-block;
  padding: 10px 23px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(254, 254, 254);
  text-decoration: none;

  background-color: rgb(232, 77, 55);
  background-image: linear-gradient(to top, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  border: none;
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  outline: none;
}

.btn:hover,
.btn:focus {
  color: rgb(254, 254, 254);

  background-color: rgb(245, 134, 105);
  background-image: linear-gradient(to top, rgb(236, 110, 93) 0%, rgb(245, 134, 105) 100%);
  box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.btn:active {
  color: rgb(254, 254, 254);

  background-color: rgb(215, 69, 49);
  background-image: linear-gradient(to top, rgb(225, 97, 62) 0%, rgb(215, 69, 49) 100%);
  box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.header-modal {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 10;

  padding: 19px 15px 20px 15px;

  font-size: 13px;
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-item {
  margin-bottom: 20px;
}

.modal-item:last-child {
  margin-bottom: 0;
}

.header-modal::before {
  position: absolute;
  top: -6px;

  min-width: 100%;
  height: 6px;

  content: "";
}

.header-modal input {
  width: 100%;
}

.header-modal input,
.header-modal textarea {
  padding: 9px 15px 9px 13px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(153, 153, 153);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.header-modal input:hover,
.header-modal textarea:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.header-modal input:focus,
.header-modal textarea:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.modal-item-login {
  display: flex;
}

.modal-item-login .left-half {
  margin-right: 20px;
}

.shop-login-btn:hover .shop-login-form,
.shop-login-btn:focus .shop-login-form {
  display: block;
}

.shop-login-form {
  right: -2px;

  padding: 20px 17px 19px 20px;
  width: 277px;
}

.shop-login-form a,
.shop-cart-content a {
  font-size: 13px;
  line-height: 24px;
  color: rgb(50, 50, 50);
}

.shop-login-form a {
  margin: 0;
  padding: 0;

  text-decoration: underline;
}

.shop-login-form a:hover,
.shop-login-form a:focus,
.shop-login-form a:active,
.shop-cart-content a:hover,
.shop-cart-content a:focus,
.shop-cart-content a:active {
  color: rgb(232, 77, 55);
}

.shop-cart-content .price {
  color: rgb(153, 153, 153);
}

.shop-cart-content .total {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
}

.shop-info {
  position: absolute;
  right: 27px;
  top: 73px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.shop-info p {
  margin: 0;
  margin-bottom: 5px;
}

.shop-info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.slider {
  position: relative;

  padding-top: 314px;

  text-align: center;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slider-btn {
  display: inline-block;
  margin: 0;
  padding: 10px 40px;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: rgb(241, 99, 63);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-btn:hover,
.slider-btn:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

#slider-btn-1:checked ~ .page-wrapper #slide1,
#slider-btn-2:checked ~ .page-wrapper #slide2,
#slider-btn-3:checked ~ .page-wrapper #slide3 {
  display: block;
}

#slider-btn-1:checked ~ .page-wrapper {
  background-color: rgb(132, 157, 143);
  background-image: url("../img/slider/slide-1.png");
}

#slider-btn-2:checked ~ .page-wrapper {
  background-color: rgb(137, 150, 166);
  background-image: url("../img/slider/slide-2.png");
}

#slider-btn-3:checked ~ .page-wrapper {
  background-color: rgb(157, 139, 132);
  background-image: url("../img/slider/slide-3.png");
}

#slider-btn-1:checked ~ .page-wrapper label[for="slider-btn-1"],
#slider-btn-2:checked ~ .page-wrapper label[for="slider-btn-2"],
#slider-btn-3:checked ~ .page-wrapper label[for="slider-btn-3"] {
  background-color: rgb(255, 255, 255);
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs a {
  position: relative;

  margin-right: 20px;

  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.breadcrumbs a:after {
  position: absolute;
  right: -15px;

  content: "»";
}

.banners,
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banners-item {
  display: flex;
  flex-direction: column;

  padding: 17px 19px 24px 19px;
  width: 560px;

  border-radius: 15px;
}

.banners-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banners-header {
  margin: 0;
  margin-bottom: 15px;
}

.banners-item p {
  margin: 0;
  margin-bottom: 45px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banners-item .btn {
  align-self: flex-end;
}

.banner-raspberry {
  background-color: rgb(145, 6, 50);
  background-image: url("../img/backgrounds/raspberry.jpg");
  background-position: -50px -93px;
}

.banner-chocolate {
  background-color: rgb(52, 26, 15);
  background-image: url("../img/backgrounds/chocolate.jpg");
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0;
}

.catalog-header {
  margin-top: 6px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.catalog-filter {
  margin-bottom: 40px;
}

.catalog-filter-item {
  color: rgb(255, 255, 255);

  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-filter-item:hover,
.catalog-filter-item:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.catalog-filter-item option {
  font-size: 14px;
  line-height: 16px;
}

button.catalog-filter-item {
  border: 2px solid rgb(255, 255, 255);
}

button.catalog-filter-item:active {
  background-color: rgb(237, 237, 237);
}

.catalog-item {
  position: relative;

  flex-basis: 267px;
  margin-right: 26px;
  margin-bottom: 39px;

  text-align: center;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-hit::before {
  position: absolute;

  content: url("../img/svg/hit.svg");
}

.catalog-item .price {
  position: absolute;
  top: 209px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .price b {
  font-size: 30px;
}

.catalog-item svg {
  position: relative;
  top: 4px;
  left: 3px;
  margin: 0;
  padding: 0;

  filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
}

.catalog-item img {
  width: 270px;
  height: 270px;
  margin-bottom: 5px;

  border-radius: 50%;
}

.catalog-item a {
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.catalog-hover {
  position: absolute;
  top: -6px;
  bottom: -76px;
  left: -12px;
  right: -12px;
  z-index: -10;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-hover .btn {
  align-self: center;
  margin-bottom: 22px;
}

.catalog-item:hover,
.catalog-item:focus {
  z-index: 10;
}

.catalog-item:hover .catalog-hover,
.catalog-item:focus .catalog-hover {
  z-index: -10;

  display: flex;
}

.paginator {
  display: flex;

  list-style: none;
}

.paginator .disabled {
  color: rgba(255, 255, 255, 0.2);
}

.paginator .current {
  line-height: 18px;
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.paginator a {
  text-decoration: none;
}

.paginator a:hover,
.paginator a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.about-us {
  margin-bottom: 40px;
  padding: 23px 33px 26px 20px;

  color: rgb(50, 50, 50);

  background-color: rgb(238, 225, 201);
  background-image: url("../img/backgrounds/wafer.jpg");
  border-radius: 15px;
}

.about-us .lead {
  margin: 0;
  margin-bottom: 21px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-half-left {
  width: 477px;
  margin-left: 56px;
}

.about-us-half-right {
  width: 471px;
}

.about-us-item {
  position: relative;

  margin: 0;
}

.about-us-item:first-child {
  margin-bottom: 21px;
}

.about-us-item::before {
  position: absolute;
  top: -13px;
  left: -57px;
}

.about-production::before {
  content: url("../img/svg/ice-cream.svg");
}

.about-milk::before {
  content: url("../img/svg/eco.svg");
}

.about-ingredient::before {
  content: url("../img/svg/cow.svg");
}

.about-delivery::before {
  content: url("../img/svg/thermometer.svg");
}

.blog-news,
.subscription {
  width: 560px;

  border-radius: 15px;
}

.blog-news {
  padding: 24px 260px 26px 19px;

  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/backgrounds/strawberry.jpg");
  background-position: 199px -53px;
  background-repeat: no-repeat;
}

.blog-news-header {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news a {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(50, 50, 50);
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: rgb(232, 77, 55);
}

.subscription {
  padding: 5px;

  color: rgb(90, 90, 90);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/svg/bg-post.svg");
}

.subscription-inner {
  padding: 29px 21px 35px 21px;

  background-color: rgb(248, 247, 244);
  border-radius: 15px;
}

.subscription p {
  margin: 0;
  margin-bottom: 36px;
}

.subscription input {
  width: 368px;
  margin-right: 7px;
  padding: 9px 15px;

  font-size: 16px;
  line-height: 24px;
  color: rgb(153, 153, 153);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 4px;
}

.subscription .btn {
  padding-left: 20px;
  padding-right: 20px;

  font-size: 16px;
}

.map {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 430px;
  margin-bottom: 18px;

  background-image: url("../img/backgrounds/map.jpg");
  background-position: 0 -109px;
  background-repeat: no-repeat;
}

.contacts {
  width: 302px;
  padding: 29px 25px;

  font-size: 14px;
  line-height: 20px;
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.contacts p {
  margin: 0;
}

.contacts .lead {
  width: 150px;
}

.contacts .address {
  margin-top: 2px;
  margin-bottom: 17px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts .phone {
  margin-top: 5px;
  margin-bottom: 2px;
}

.contacts .phone a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.contacts .schedule {
  margin-bottom: 25px;
}

.contacts .btn {
  padding: 9px 26px 11px 26px;
}

.page-footer {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.footer-social {
  padding-top: 14px;
  padding-left: 2px;
}

.social {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0;
  margin-right: 7px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social:hover,
.social:focus {
  opacity: 1;
}

.social:active {
  border: 3px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.social-tw {
  background-image: url("../img/svg/twitter.svg");
}

.social-in {
  background-image: url("../img/svg/instagram.svg");
}

.social-fb {
  background-image: url("../img/svg/fb.svg");
}

.social-vk {
  background-image: url("../img/svg/vk.svg");
}

.footer-navigation {
  display: flex;
  margin: 0;
  margin-left: 213px;
  padding: 0;
  padding-top: 15px;
  padding-left: 16px;

  list-style: none;
}

.footer-navigation li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.footer-links a {
  display: inline-block;
  margin-bottom: 2px;

  font-size: 13px;
  line-height: 18px;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-links .like {
  position: relative;

  font-weight: 700;
}

.footer-links .like::before {
  position: absolute;
  top: 3px;
  left: -22px;

  content: url("../img/svg/heart.svg");
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer-copyright .footer-logo {
  margin-left: 2px;
}

.footer-copyright b {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright .made-in {
  font-size: 12px;
}

.footer-copyright .made-in-link {
  font-size: 12px;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright .made-in-link:hover,
.footer-copyright .made-in-link:focus,
.footer-copyright .made-in-link:active {
  color: rgb(255, 188, 158);

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.feedback-form .lead {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(50, 50, 50);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hidden-block {
  display: none;
}
